{% extends 'base.html' %}
{% block title_text %}Lore Page{% endblock %}
{% block header_text %}Legends and Lore{% endblock %}
{% block body_content %}
<p>Ages past, a human magic-user/cleric of surpassing evil took the steps necessary to preserve his
  life-force beyond the centuries he had already
  lived, and this creature became the lich,
  Acererak. Over the scores of years which followed, the lich dwelled with hordes of ghastly
  servants in the gloomy stone walls of the very hill
  where the Tomb is. Eventually, even the undead
  life force of Acererak began to wane, and so for
  the next eight decades, he bade his servants to
  create the Tomb of Horrors</p>
<p>
  Self-resetting traps were built into the plan,
  traps so deadly that they could snuff the life
  from even the most experienced adventurer at
  once. Enchanted creatures, not many, were left
  in key places
</p>
<p>
  To satisfy some perverse whim, however,
  Acererak added bits of information that would
  lure grave-robbers to their deaths. He also
  enchanted a good-aligned siren, and imprisoned her within a grotto. All of this was
  intended to give him the utmost pleasure of
  watching the deaths of those who had almost
  found his vault
</p>
<p>
  When his Tomb was complete, he destroyed
  all his slaves and servitors, magically hid the
  entrance to his halls, and went to his final
  haunt, while his soul roamed strange planes
  unknown to even the wisest of sages.
</p>
<p>Two keys are needed to gain entrance to the
  vault wherein lie the treasure and remains of
  Acererak. Yet these keys also carry warnings to
  him. Joining together the halves of the golden
  First Key calls his soul back to the Prime Material Plane. Using the Second Key alerts him
  that he must be prepared to do battle in order
  to survive yet more centuries.</p>
<p>
  All that now remains of Acererak are the
  dust of his bones and his skull. These rest in the
  far recesses of the vault that also holds his treasure. Now a demi-lich, Acererak does not have
  the power he once had as a lich, yet he is not
  without power. If his dust or his skull is
  attacked, he can retaliate devastatingly. And
  he will . . . yes, he will
</p>
{% endblock %}